@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');



.tit-extralight {
    font-family: "Titillium Web", serif;
    font-weight: 200;
    font-style: normal;
}

.tit-light {
    font-family: "Titillium Web", serif;
    font-weight: 300;
    font-style: normal;
}

.tit-regular {
    font-family: "Titillium Web", serif;
    font-weight: 400;
    font-style: normal;
}

.tit-semibold {
    font-family: "Titillium Web", serif;
    font-weight: 600;
    font-style: normal;
}

.tit-bold {
    font-family: "Titillium Web", serif;
    font-weight: 700;
    font-style: normal;
}

.tit-black {
    font-family: "Titillium Web", serif;
    font-weight: 900;
    font-style: normal;
}

.tit-extralight-italic {
    font-family: "Titillium Web", serif;
    font-weight: 200;
    font-style: italic;
}

.tit-light-italic {
    font-family: "Titillium Web", serif;
    font-weight: 300;
    font-style: italic;
}

.tit-regular-italic {
    font-family: "Titillium Web", serif;
    font-weight: 400;
    font-style: italic;
}

.tit-semibold-italic {
    font-family: "Titillium Web", serif;
    font-weight: 600;
    font-style: italic;
}

.tit-bold-italic {
    font-family: "Titillium Web", serif;
    font-weight: 700;
    font-style: italic;
}

.awesome-shadow{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}